[Unit]
Description=DXLHistorian - The OpenDXL event recorder
Documentation=https://github.com/ccdcoe/roboblue/wiki

[Service]
Type=simple
ExecStart=/usr/bin/python -m dxlhistorian
ExecStop=/bin/kill -INT $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/etc/dxlhistorian

[Install]
WantedBy=multi-user.target
